# Framework principal
Django==5.2.1

# Servidor WSGI recomendado para producción
gunicorn==23.0.0

# PostgreSQL (Render usa esta base de datos en producción)
psycopg2-binary==2.9.10

# Utilidades generales (si las usas en tu código, opcionales)
beautifulsoup4==4.13.4
requests==2.32.4
pillow==11.1.0
lxml==5.3.2
PyYAML==6.0.2
python-dateutil==2.8.2
sqlparse==0.5.3

# Email con Gmail
cryptography==44.0.0

# Para validaciones si usas JSON o APIs
jsonschema==4.23.0

# Compatibilidad con versiones futuras de Python
typing_extensions==4.12.2
